@media(max-width:1600px) {

  .channel-recommended,
  .pinned-video-description,
  .nav_list-item:nth-child(n+4) {
    display: none;
  }

  .channel-description {
    justify-content: left;
    align-items: center;
  }
}

@media(max-width:800px) {
  
  header {
    height: 59px;
    padding-left: 17px;
    margin-top: -4px;
    margin-bottom: 3px;
  }

  .header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
  }

  .youtube-logo-mobile {
    display: block;
  }

  .channel-name {
    display: block;
    width: 126px;
    margin: 0;
    margin-right: 42px;
  }

  .dots {
    display: block;
    margin-bottom: 5px;
  }

  .searchbar {
    background: none;
    padding: 0;
    width: 30px;
  }

  .searchbar-wrapper {
    margin: 0 34px 4px 0;
  }

  .user-icon {
    width: 30px;
    height: 30px;
  }

  .sidebar {
    height: 61px;
    width: 100%;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 45px;
    padding-top: 9px;
    gap: 37px;
    align-items: center;
    font-size: 10px;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 61px;
    border-top: 1px solid #C2C2C2;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 0;
  }

  h2 {
    position: absolute;
    visibility: hidden;
  }

  main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .cover {
    min-height: 100px;
    width: 100%;
  }

  .channel-content {
    flex-direction: column;
    align-items: center;
    overflow: visible;
  }

  .recomended-content-item,
  .channel-content-item {
    width: 288px;
    height: 200px;
  }

  .recomended-content-item img,
  .content-item-image {
    width: 288px;
    height: 150px;
  }

  .content {
    max-width: 100%;
    align-items: center;
    padding: 0;
  }

  .channel-description {
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
    margin: 0;
    margin-top: -65px;
    margin-left: 17px;
  }

  .description-heading-image {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
  }

  .description-buttons {
    justify-content: flex-start;
    margin: 0;
    margin-top: 17px;
  }

  .description-heading {
    flex-direction: column;
  }

  .description-heading-name > h2 {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.1px;
    margin-bottom: 2px;
  }

  .description-heading-name > span {
    font-size: 12px;
    line-height: 15px;
  }

  .subscribe-button {
    width: 120px;
    height: 34px;
    font-size: 12px;
    line-height: 15px;
  }

  .channel-pinned-block {
    height: fit-content;
    margin-top: 27px;

  }

  .channel {
    margin-top: 12px;
  }

  .channel-navigation {
    width: 100vw;
    padding-left: 16px;
    padding-right: 30px;
  }

  .channel-content {
    gap: 29px;
  }

  .channel-content-item {
    gap: 9px;
    justify-content: unset;
  }

  .content-item-description {
    letter-spacing: 0.2px;
  }

  .item-description-details {
    letter-spacing: 0px;
    margin-top: 1.1px;
  }

  .detail-channel {
    letter-spacing: -0.4px;
  }

  .item-time {
    left: 232px;
  }

  .nav-list {
    gap: 0;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17.57px;
    align-items: flex-start;
  }

  .more {
    display: block;
    margin-top: 6px;
    margin-right: 3px;
    width: 10px;
  }

  .youtube-logo,
  .burger-open,
  .searchbar > span,
  .header-icons-block,
  .sidebar-subscriptions,
  .arrows-wrapper,
  .button-icons,
  .settings,
  .menu-item:nth-child(n+5),
  .arrows-wrapper,
  .pinned-video-block,
  .channel-heading,
  .search,
  footer {
    display: none;
  }

  
}